<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body >
        <h:form styleClass="barraLateral" style="width: 192px; float: left;;">
            <p:menu  style="width: 192px;">
                <p:submenu label="Cadastros"  >
                    <p:menuitem value="Usuários" url="/faces/webpage/configuracao/cadastro/usuario/listar.xhtml?faces-redirect=true"/>
                    <p:menuitem value="Tipos de produtos" url="/faces/webpage/configuracao/cadastro/tipoproduto/listar.xhtml?faces-redirect=true"/>
                    <p:menuitem value="Subtipos de produtos" url="/faces/webpage/configuracao/cadastro/subtipoproduto/listar.xhtml?faces-redirect=true"/>
                    <p:menuitem value="Almoxarifado" url="/faces/webpage/configuracao/cadastro/almoxarifado/listar.xhtml?faces-redirect=true"/>
                </p:submenu>
            </p:menu>
        </h:form>
    </h:body>
</html>
