<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="../../../resources/template/common/lateralbar/lateralBarLayout.xhtml">
            <ui:define name="lateralBar">
                <ui:insert name="cadastroLateralBar">
                    <ui:include src="cadastroLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>            
        </ui:composition> 
    </h:body>
</html>
