<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/commonLayout.xhtml">
            <ui:define name="content">
                <div class="contentSize">
                    <p:chart type="pie" model="#{homeView.graficoProdutosPorGrupo}" styleClass="graficoHome" />
                    <p:chart type="pie" model="#{homeView.graficoProdutosPorTipo}" styleClass="graficoHome" />
                    <p:chart type="metergauge" model="#{homeView.graficoProdutosAbaixoDoEstoqueMinimo}" styleClass="graficoHome"/>
                    <p:chart type="bar" model="#{homeView.graficoSaidaProdutosPorSubtipo}" styleClass="graficoHomeBottom" />
                </div>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
