<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form styleClass="barraLateral" style="width: 192px; float: left;">
            <p:menu style="width: 192px;">
                <p:submenu label="Busca">
                </p:submenu>
            </p:menu>
            <p:outputLabel styleClass="labelFiltroBusca" value="Produto:" for="produto"/>
            <p:inputText id="produto" styleClass="valorFiltroBusca" value="#{ajusteEstoqueView.filtroProdutoNome}"/>
            
            <p:outputLabel styleClass="labelFiltroBusca" value="Código de barras:" for="codigoBarras"/>
            <p:inputText id="codigoBarras" styleClass="valorFiltroBusca" value="#{ajusteEstoqueView.filtroCodigoBarras}"/>
            
            <p:outputLabel styleClass="labelFiltroBusca" value="Usuário responsável:" for="usuarioResponsavel"/>
            <p:inputText id="usuarioResponsavel" styleClass="valorFiltroBusca" value="#{ajusteEstoqueView.filtroUsuarioResponsavel}"/>
            
            <p:outputLabel styleClass="labelFiltroBusca" value="Ajuste finalizado:" for="ajusteFinalizado"/>
            <p:selectBooleanCheckbox id="ajusteFinalizado" styleClass="valorFiltroBusca" value="#{ajusteEstoqueView.filtroAjusteFinalizado}"/>
                        
            <p:commandButton value="Buscar" styleClass="botaoBuscarBarraLateral" action="#{ajusteEstoqueView.buscar()}"/>
            <p:commandLink value="Nova busca" styleClass="linkNovaBuscaBarraLateral" action="#{ajusteEstoqueView.novaBusca()}"/>
        </h:form>
    </h:body>
</html>
