<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="ajusteEstoqueLateralBar">
                    <ui:include src="ajusteEstoqueLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de ajustes de estoques" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{ajusteEstoqueView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{ajusteEstoqueView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{ajusteEstoqueView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{ajusteEstoqueView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data cadastro:" for="dataCadastro"/>
                        <p:calendar styleClass="pequeno" id="dataCadastro" disabled="true" value="#{ajusteEstoqueView.ajusteEstoque.dataCadastro}"  pattern="dd/MM/yyyy" mask="true" />

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data conclusão:" for="dataConclusao"/>
                        <p:calendar styleClass="pequeno" id="dataConclusao" required="#{ajusteEstoqueView.ajusteEstoque.finalizado}" disabled="#{!ajusteEstoqueView.ajusteEstoque.finalizado}" value="#{ajusteEstoqueView.ajusteEstoque.dataConclusao}"  pattern="dd/MM/yyyy" mask="true" />
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Almoxarifado da saída:" for="almoxarifadoSaida"/>  
                        <p:selectOneMenu id="almoxarifadoSaida" converter="#{genericEntityConverter}" value="#{ajusteEstoqueView.ajusteEstoque.almoxarifadoSaida}" required="true" style="width:180px" >
                            <f:selectItems value="#{ajusteEstoqueView.almoxarifados}"
                                           var="almoxarifado"
                                           itemLabel="#{almoxarifado.nome}"
                                           itemValue="#{almoxarifado}"/>
                        </p:selectOneMenu>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Almoxarifado da entrada:" for="almoxarifadoEntrada"/>                        
                        <p:selectOneMenu id="almoxarifadoEntrada" converter="#{genericEntityConverter}" value="#{ajusteEstoqueView.ajusteEstoque.almoxarifadoEntrada}" required="true" style="width:180px" >
                            <f:selectItems value="#{ajusteEstoqueView.almoxarifados}"
                                           var="almoxarifado"
                                           itemLabel="#{almoxarifado.nome}"
                                           itemValue="#{almoxarifado}"/>
                        </p:selectOneMenu>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Finalizado" for="finalizado"/>
                        <p:selectBooleanCheckbox id="finalizado" required="true" disabled="#{ajusteEstoqueView.finalizadoESalvo}" value="#{ajusteEstoqueView.ajusteEstoque.finalizado}" ><p:ajax update="dataConclusao"/></p:selectBooleanCheckbox>
                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="Produtos para dar baixa:" styleClass="contentSubTitle" for="saidaProduto"/>
                    <p:dataTable var="saidaProduto"
                                 id="saidaProduto"
                                 editMode="cell"
                                 editable="#{!ajusteEstoqueView.finalizadoESalvo}"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{ajusteEstoqueView.saidasProdutoSelected}"
                                 value="#{ajusteEstoqueView.saida.saidaProduto}"
                                 rowKey="#{saidaProduto}">
                        <p:column selectionMode="multiple" width="16" style="text-align:center"/>
                        <p:column width="80"> 
                            <f:facet name="header">
                                <h:outputText value="Quantidade" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <p:cellEditor>
                                <f:facet name="output"><p:outputLabel value="#{saidaProduto.quantidade}" style="float: right;" /></f:facet>
                                <f:facet name="input"><p:spinner value="#{saidaProduto.quantidade}" label="Quantidade" ><p:ajax/></p:spinner></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.grupo.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Codigo de barras" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.codigoBarras}" />
                        </p:column>
                    </p:dataTable>
                    <br />
                    <p:commandButton value="Adicionar produtos" disabled="#{ajusteEstoqueView.finalizadoESalvo}" update=":formDialogProdutosSaida" actionListener="#{ajusteEstoqueView.atualizaListas()}" oncomplete="PF('dialogProdutosSaida').show();" />
                    <p:commandButton value="Remover selecionados" disabled="#{ajusteEstoqueView.finalizadoESalvo}" update="saidaProduto" actionListener="#{ajusteEstoqueView.adicionarProdutosEntradaSelecionados()}" />

                    <br/>
                    <p:outputLabel value="Produtos para dar entrada:" styleClass="contentSubTitle" for="entradaProduto"/>
                    <p:dataTable var="entradaProduto"
                                 id="entradaProduto"
                                 editMode="cell"
                                 editable="#{!ajusteEstoqueView.finalizadoESalvo}"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{ajusteEstoqueView.entradasProdutoSelected}"
                                 value="#{ajusteEstoqueView.entrada.entradaProduto}"
                                 rowKey="#{entradaProduto}">
                        <p:column selectionMode="multiple" width="16" style="text-align:center"/>
                        <p:column width="80"> 
                            <f:facet name="header">
                                <h:outputText value="Quantidade" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <p:cellEditor>
                                <f:facet name="output"><p:outputLabel value="#{entradaProduto.quantidade}" style="float: right;" /></f:facet>
                                <f:facet name="input"><p:spinner value="#{entradaProduto.quantidade}" label="Quantidade" ><p:ajax/></p:spinner></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entradaProduto.produto.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entradaProduto.produto.grupo.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Codigo de barras" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.codigoBarras}" />
                        </p:column>
                    </p:dataTable>
                    <br />
                    <p:commandButton value="Adicionar produtos" disabled="#{ajusteEstoqueView.finalizadoESalvo}" update=":formDialogProdutosEntrada" actionListener="#{ajusteEstoqueView.atualizaListas()}" oncomplete="PF('dialogProdutosEntrada').show();" />
                    <p:commandButton value="Remover selecionados" disabled="#{ajusteEstoqueView.finalizadoESalvo}" update="entradaProduto" actionListener="#{ajusteEstoqueView.adicionarProdutosSaidaSelecionados()}" />
                </h:form>
                <h:form id="formDialogProdutosSaida">
                    <p:dialog id="dialogProdutosSaida" header="Produtos" widgetVar="dialogProdutosSaida" minHeight="40" width="800">
                        <p:dataTable var="produto"
                                     emptyMessage="Nenhum registro encontrado."
                                     selection="#{ajusteEstoqueView.produtosSaidaSelected}"
                                     value="#{ajusteEstoqueView.produtosSaida}"
                                     rowKey="#{produto}">
                            <f:facet name="header">
                                Checkbox
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.nome}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.grupo.descricao}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Código de barras" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.codigoBarras}" />
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Adicionar selecionados" update="@form :formularioCadastro:saidaProduto" actionListener="#{ajusteEstoqueView.adicionarProdutosSaidaSelecionados()}" />
                    </p:dialog>
                </h:form>
                <h:form id="formDialogProdutosEntrada">
                    <p:dialog id="dialogProdutosEntrada" header="Produtos" widgetVar="dialogProdutosEntrada" minHeight="40" width="800">
                        <p:dataTable var="produto"
                                     emptyMessage="Nenhum registro encontrado."
                                     selection="#{ajusteEstoqueView.produtosEntradaSelected}"
                                     value="#{ajusteEstoqueView.produtosEntrada}"
                                     rowKey="#{produto}">
                            <f:facet name="header">
                                Checkbox
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.nome}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.grupo.descricao}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Código de barras" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.codigoBarras}" />
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Adicionar selecionados" update="@form :formularioCadastro:entradaProduto" actionListener="#{ajusteEstoqueView.adicionarProdutosEntradaSelecionados()}" />
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
