<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="ajusteEstoqueLateralBar">
                    <ui:include src="ajusteEstoqueLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Ajustes de estoque" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{ajusteEstoqueView.novo()}" />
                    <p:commandButton id="botaoEditar" disabled="#{ajusteEstoqueView.ajusteEstoque.new}" value="Editar" ajax="false" action="#{ajusteEstoqueView.editar()}"/>
                    <p:dataTable var="ajusteEstoque"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{ajusteEstoqueView.ajusteEstoque}"
                                 value="#{ajusteEstoqueView.ajustes}"
                                 rowKey="#{ajusteEstoque}">
                        <p:ajax event="rowSelect"
                                update=":formListar:botaoEditar" />
                        <p:ajax event="rowUnselect"
                                update=":formListar:botaoEditar" />                        
                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>
                        <p:column style="width: 140px;">
                            <f:facet name="header">
                                <h:outputText value="Ajuste finalizado" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{ajusteEstoque.finalizado ? 'Sim' : 'Não'}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Usuario responsável" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{ajusteEstoque.usuarioCadastro.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Data cadastro" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{ajusteEstoque.dataCadastro}" >                                                                                    
                                <f:converter converterId="dateConverter" /> 
                            </h:outputText>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Data conclusão" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{ajusteEstoque.dataConclusao}" >                                                                                    
                                <f:converter converterId="dateConverter" /> 
                            </h:outputText>
                        </p:column>
                        <p:rowExpansion id="rowExpansion" >
                            <p:outputLabel value="Produtos com saída:"/>
                            <p:dataTable var="saida"
                                         emptyMessage="Nenhum registro encontrado."
                                         value="#{ajusteEstoque.saida.saidaProduto}">
                                <p:column style="width: 100px;">
                                    <f:facet name="header">
                                        <h:outputText value="Quantidade" styleClass="columnTitleDatatable"/>  
                                    </f:facet> 
                                    <h:outputText value="#{saida.quantidade}"/>
                                </p:column> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Produto" styleClass="columnTitleDatatable"/>  
                                    </f:facet> 
                                    <h:outputText value="#{saida.produto.nome}"/>
                                </p:column>      
                            </p:dataTable>
                            <br/>
                            <p:outputLabel value="Produtos com entrada:"/>
                            <p:dataTable var="entrada"
                                         emptyMessage="Nenhum registro encontrado."
                                         value="#{ajusteEstoque.entrada.entradaProduto}">
                                <p:column style="width: 100px;">
                                    <f:facet name="header">
                                        <h:outputText value="Quantidade" styleClass="columnTitleDatatable"/>  
                                    </f:facet> 
                                    <h:outputText value="#{entrada.quantidade}"/>
                                </p:column> 
                                <p:column>
                                    <f:facet name="header">
                                        <h:outputText value="Produto" styleClass="columnTitleDatatable"/>  
                                    </f:facet> 
                                    <h:outputText value="#{entrada.produto.nome}"/>
                                </p:column>      
                            </p:dataTable>
                        </p:rowExpansion>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
