<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 
        <ui:composition template="/resources/template/common/commonLayout.xhtml">
            <ui:define name="content">
                <p:commandButton value="Gerar relatório" action="#{relatorioEntradaProdutoPorProdutoView.gerarRelatorio()}"/>
                <br/>
                <div class="contentSize">
                    <p:outputLabel rendered="#{!relatorioEntradaProdutoPorProdutoView.relatorioGerado}" value="Para exibir o relatório, clique em 'Gerar relatório'"/>
                    <pe:documentViewer rendered="#{relatorioEntradaProdutoPorProdutoView.relatorioGerado}" height="508" 
                                       url="#{relatorioEntradaProdutoPorProdutoView.downloadUrl()}" /> 
                </div>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
