<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="cadastroLateralBar">
                    <ui:include src="../cadastroLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de subtipos de produtos" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{subtipoProdutoView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{subtipoProdutoView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{subtipoProdutoView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{subtipoProdutoView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Nome:" for="nome"/>
                        <p:inputText id="nome" required="true" value="#{subtipoProdutoView.subtipoProduto.nome}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Tipo:" for="tipoProduto"/>
                        <p:selectOneMenu id="tipoProduto" converter="#{genericEntityConverter}" value="#{subtipoProdutoView.subtipoProduto.tipoProduto}" required="true" style="width:180px" >
                            <f:selectItems value="#{subtipoProdutoView.tiposAtivos}"
                                           var="tipoProduto"
                                           itemLabel="#{tipoProduto.nome}"
                                           itemValue="#{tipoProduto}"/>
                        </p:selectOneMenu>
                                                
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{subtipoProdutoView.subtipoProduto.new}" value="#{subtipoProdutoView.subtipoProduto.ativo}"/>
                                                
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
