<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="cadastroLateralBar">
                    <ui:include src="../cadastroLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Subtipos de produto" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{subtipoProdutoView.novo()}" />
                    <p:commandButton id="botaoEditar" value="Editar" ajax="false" disabled="#{subtipoProdutoView.subtipoProduto.new}" action="#{subtipoProdutoView.editar()}"/>
                    <p:dataTable var="subtipoProduto"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{subtipoProdutoView.subtipoProduto}"
                                 value="#{subtipoProdutoView.subtiposProduto}"
                                 rowKey="#{subtipoProduto}">
                            <p:ajax event="rowSelect"
                                    update=":formListar:botaoEditar" />
                            <p:ajax event="rowUnselect"
                                    update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{subtipoProduto.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Tipo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{subtipoProduto.tipoProduto.nome}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{subtipoProduto.ativo ? 'Sim' : 'Não'}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
