<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form styleClass="barraLateral" style="width: 192px; float: left;">
            <p:menu style="width: 192px;">
                <p:submenu label="Busca">
                </p:submenu>
            </p:menu>
            <p:outputLabel styleClass="labelFiltroBusca" value="Nome / Sobrenome:" for="nome"/>
            <p:inputText id="nome" styleClass="valorFiltroBusca" value="#{clienteView.filtroNome}"/>
            
            <p:outputLabel styleClass="labelFiltroBusca" value="Tipo pessoa:" for="tipoPessoa"/>
            <p:selectOneMenu id="tipoPessoa" value="#{clienteView.filtroTipoPessoa}" styleClass="valorFiltroBusca" >
                <f:selectItems value="#{clienteView.tiposPessoa}"
                               var="tipoPessoa"
                               itemLabel="#{tipoPessoa.descricao}"
                               itemValue="#{tipoPessoa}"/>
            </p:selectOneMenu>

            <p:outputLabel styleClass="labelFiltroBusca" value="CPF / CNPJ:" for="cpfCnpj"/>
            <p:inputText id="cpfCnpj" styleClass="valorFiltroBusca" value="#{clienteView.filtroCpfCnpj}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="E-mail:" for="email"/>
            <p:inputText id="email" styleClass="valorFiltroBusca" value="#{clienteView.filtroEmail}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Fone / Celular:" for="foneCelular"/>
            <p:inputText id="foneCelular" styleClass="valorFiltroBusca" value="#{clienteView.filtroFoneCelular}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Ativo:" for="ativo"/>
            <p:selectBooleanCheckbox id="ativo" styleClass="valorFiltroBusca" value="#{clienteView.filtroAtivo}"/>

            <p:commandButton value="Buscar" styleClass="botaoBuscarBarraLateral" action="#{clienteView.buscar()}"/>
            <p:commandLink value="Nova busca" styleClass="linkNovaBuscaBarraLateral" action="#{clienteView.novaBusca()}"/>
        </h:form>
    </h:body>
</html>
