<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="clienteLateralBar">
                    <ui:include src="clienteLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de clientes" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{clienteView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{clienteView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{clienteView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{clienteView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Nome/Razão social:" for="nome"/>
                        <p:inputText id="nome" required="true" value="#{clienteView.cliente.nome}"/>

                        <p:outputLabel id="sobrenomeLabel" styleClass="labelFormularioCadastro" value="Sobrenome:" for="sobrenome"/>
                        <p:inputText id="sobrenome" disabled="#{clienteView.desabilitarCamposPessoaFisica}" value="#{clienteView.cliente.sobrenome}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="CPF:" for="cpf"/>
                        <p:inputMask id="cpf" disabled="#{clienteView.desabilitarCamposPessoaFisica}" value="#{clienteView.cliente.cpf}"  mask="999.999.999-99"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="CNPJ:" for="cnpj"/>
                        <p:inputMask id="cnpj" disabled="#{clienteView.desabilitarCamposPessoaJuridica}" value="#{clienteView.cliente.cnpj}" mask="99.999.999/9999-99"/>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Tipo pessoa:" for="tipoPessoa"/>
                        <p:selectOneMenu id="tipoPessoa" value="#{clienteView.cliente.tipoPessoa}" style="width:125px" >
                            <f:selectItems value="#{clienteView.tiposPessoa}"
                                           var="tipoPessoa"
                                           itemLabel="#{tipoPessoa.descricao}"
                                           itemValue="#{tipoPessoa}"/>
                            <p:ajax update="sobrenome cpf cnpj dataNascimento" />
                        </p:selectOneMenu>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="E-mail:" for="email"/>
                        <p:inputText id="email" value="#{clienteView.cliente.email}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Celular" for="celular"/>
                        <p:inputMask styleClass="inputFoneFormularioCadastro" id="celular" value="#{clienteView.cliente.celular}" mask="(99)9999-9999"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Telefone:" for="fone"/>
                        <p:inputMask styleClass="inputFoneFormularioCadastro" id="fone" value="#{clienteView.cliente.fone}" mask="(99)9999-9999"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Estado:" for="estado"/>
                        <p:selectOneMenu id="estado" value="#{clienteView.cliente.estado}" style="width:64px" >
                            <f:selectItems value="#{clienteView.estados}"
                                           var="estado"
                                           itemLabel="#{estado.name()}"
                                           itemValue="#{estado}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Cidade:" for="cidade"/>
                        <p:inputText id="cidade" value="#{clienteView.cliente.cidade}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Bairro:" for="bairro"/>
                        <p:inputText id="bairro" value="#{clienteView.cliente.bairro}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Logradouro:" for="logradouro"/>
                        <p:inputText id="logradouro" styleClass="inputGrandeFormularioCadastro" value="#{clienteView.cliente.logradouro}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Número:" for="numero"/>
                        <p:inputText id="numero" value="#{clienteView.cliente.numero}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data nascimento:" for="dataNascimento"/>
                        <p:calendar styleClass="pequeno" id="dataNascimento" disabled="#{clienteView.desabilitarCamposPessoaFisica}" value="#{clienteView.cliente.dataNascimento}"  pattern="dd/MM/yyyy" mask="true" />

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{clienteView.cliente.new}" value="#{clienteView.cliente.ativo}"/>

                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
