<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="clienteLateralBar">
                    <ui:include src="clienteLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Clientes" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{clienteView.novo()}" />
                    <p:commandButton id="botaoEditar" disabled="#{clienteView.cliente.new}" value="Editar" ajax="false" action="#{clienteView.editar()}"/>
                    <p:dataTable var="cliente"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{clienteView.cliente}"
                                 value="#{clienteView.clientes}"
                                 rowKey="#{cliente}">
                            <p:ajax event="rowSelect"
                                    update=":formListar:botaoEditar" />
                            <p:ajax event="rowUnselect"
                                    update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome/Razão social" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{cliente.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Sobrenome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{cliente.sobrenome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="E-mail" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{cliente.email}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Celular" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{cliente.celular}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Telefone" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{cliente.fone}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{cliente.ativo ? 'Sim' : 'Não'}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
