.ui-widget {
    font-size: 90%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}

#topoMenu .ui-menuitem-link.ui-state-hover {
    height: 17px;
    margin-top: 0px;
    border-radius: 4px;
}

#topoMenu .ui-menuitem-link {
    height: 17px;
    margin-top: 0px;
    border-radius: 4px;    
}

#topoMenu .ui-menubar .ui-icon.ui-icon-triangle-1-s {
    display: none;
}

#lateralBarContent .ui-layout-unit {
    height: 410px;
}

#lateralBarContent .ui-datatable {
    margin-top: 10px;
}

#formularioCadastroGrid .ui-panelgrid-cell {
    border: none;
}

#formularioCadastroGrid .ui-widget-content {
    border: none;
}

#formularioCadastroGrid .ui-widget-content {
    border: none;
}

.ui-layout-unit .ui-menu {
    border: none;
}

.ui-column-title {
    text-align: left;
}

.ui-outputlabel {
    text-align: left;
}