html, body {
    background: #FFF;
    width: 100%;
    min-width: 970px;
    min-height: 600px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.base {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height:100%;
}

.content{
    padding-top: 10px;
}

.loginLogo {
    position : absolute;    
    left: 50%;
    top: 50%;
    margin-left: -200px; /* half of the width  */
    margin-top: -200px; /* half of the height */
}

.topo {
    padding-top: 16px;
    height: 50px;
}

.logoTopo {
    background-image: url("#{resource['images:hadoukenlogo.png']}");
    height: 38px;
    float: left;
    width: 200px;
}

.usuarioLogadoTopo {
    float: right;
}

.loginForm {
    position : absolute;    
    left: 50%;
    top: 50%;
    text-align: right;
    margin-left : -145px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}

.footer {
    margin-left: -13%;
    bottom: 0px;
    background-color: black;
    width: 125.5%;
    height: 20px;
}

.contentSize {
    height: 530px;
}

.menuPrincipal {
    height: 29px;
}

.menuPrincipalItem {
    margin-top: 1px;
    margin-right: 5px;
}

#topoMenu .ui-menubar .ui-icon.ui-icon-gear {
    background-image: url("#{resource['images:settings.png']}");
    margin-left: 0px;
    margin-top: -5px;
    width: 30px;
    height: 30px;
    background-position: 0px 0px;
}

.columnTitleDatatable {
    float: left;
}

.contentTitle {
    font-size: 32px !important;
}

.contentSubTitle {
    font-size: 24px !important;
}

.formularioCadastroGrid {
    margin-left: 50px;
    margin-top: 10px;
}
.labelFormularioCadastro {
    text-align: right;
    float: right;
}

.labelFiltroBusca {
    margin-top: 10px;
    float: left;
    font-size: 12px !important;
}

.valorFiltroBusca {
    width: 182px;
}

.botaoBuscarBarraLateral {
    margin-top: 20px;
    width: 191px;
}

.linkNovaBuscaBarraLateral {
    margin-left: 30%;
}

.inputFoneFormularioCadastro {
    width: 96px;
}

.hasDatepicker {
    width: 74px !important;
}

.inputGrandeFormularioCadastro {
    width: 440px;
}

.barraLateral {
    height: 80px;
    /* o width abaixo está definido diretamente no componente pois somente na classe não funciona */
    width: 192px;
}

.graficoHome {
    width:356px;
    height: 264px;
    float:left;
}

.graficoHomeBottom {
    width: 1068px;
    height: 264px;
    float:left;
}