<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="produtoLateralBar">
                    <ui:include src="produtoLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de produtos" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{produtoView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{produtoView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{produtoView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{produtoView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Nome:" for="nome"/>
                        <p:inputText id="nome" required="true" value="#{produtoView.produto.nome}"/>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Código de barras:" for="codigoBarras"/>
                        <p:inputText id="codigoBarras" value="#{produtoView.produto.codigoBarras}" />
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Estoque:" for="estoque"/>
                        <p:inputText id="estoque" disabled="#{!produtoView.produto.new}" value="#{produtoView.produto.estoque}" />
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Estoque mínimo:" for="estoqueMinimo"/>
                        <p:inputText id="estoqueMinimo" required="true" value="#{produtoView.produto.estoqueMinimo}" />
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Grupo:" for="grupo"/>
                        <p:selectOneMenu id="grupo" value="#{produtoView.produto.grupo}" style="width:140px" >
                            <f:selectItems value="#{produtoView.grupos}"
                                           var="grupo"
                                           itemLabel="#{grupo.descricao}"
                                           itemValue="#{grupo}"/>
                            <p:ajax update="tipo subtipo"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Tipo:" for="tipo"/>
                        <p:selectOneMenu id="tipo" converter="#{genericEntityConverter}" disabled="#{produtoView.isMateriaPrima()}" value="#{produtoView.tipoProduto}" required="#{!produtoView.isMateriaPrima()}" style="width:180px" >
                            <f:selectItems value="#{produtoView.tiposAtivos}"
                                           var="tipoProduto"
                                           itemLabel="#{tipoProduto.nome}"
                                           itemValue="#{tipoProduto}"/>
                            <p:ajax update="subtipo" />
                        </p:selectOneMenu>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Subtipo:" for="subtipo"/>
                        <p:selectOneMenu id="subtipo" converter="#{genericEntityConverter}" disabled="#{produtoView.isMateriaPrima()}" value="#{produtoView.produto.subtipoProduto}" required="#{!produtoView.isMateriaPrima()}" style="width:180px" >
                            <f:selectItems value="#{produtoView.subtiposPorTipo}"
                                           var="subtipoProduto"
                                           itemLabel="#{subtipoProduto.nome}"
                                           itemValue="#{subtipoProduto}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{produtoView.produto.new}" value="#{produtoView.produto.ativo}"/>

                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
