<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="produtoLateralBar">
                    <ui:include src="produtoLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Produtos" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{produtoView.novo()}" />
                    <p:commandButton id="botaoEditar" disabled="#{produtoView.produto.new}" value="Editar" ajax="false" action="#{produtoView.editar()}"/>
                    <p:dataTable var="produto"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{produtoView.produto}"
                                 value="#{produtoView.produtos}"
                                 rowKey="#{produto}">
                        <p:ajax event="rowSelect"
                                update=":formListar:botaoEditar" />
                        <p:ajax event="rowUnselect"
                                update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.grupo.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Código de barras" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.codigoBarras}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Estoque" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.estoque}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Estoque mínimo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.estoqueMinimo}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Abaixo do estoque mínimo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.abaixoEstoqueMinimo ? 'Sim' : 'Não'}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{produto.ativo ? 'Sim' : 'Não'}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
