<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form styleClass="barraLateral" style="width: 192px; float: left;">
            <p:menu style="width: 192px;">
                <p:submenu label="Busca">
                </p:submenu>
            </p:menu>
            <p:outputLabel styleClass="labelFiltroBusca" value="Nome:" for="nome"/>
            <p:inputText id="nome" styleClass="valorFiltroBusca" value="#{produtoView.filtroNome}"/>

            <h:panelGrid columns="1" style="width: 182px;">
                <p:outputLabel styleClass="labelFiltroBusca" value="Grupo:" for="grupo" />
                <p:selectManyCheckbox id="grupo" value="#{produtoView.filtroGrupo}" layout="grid" columns="1">
                    <f:selectItems value="#{produtoView.grupos}" var="grupo" itemLabel="#{grupo.descricao}" itemValue="#{grupo}"/>
                </p:selectManyCheckbox>
            </h:panelGrid>

            <p:outputLabel styleClass="labelFiltroBusca" value="Código de barras:" for="codigoBarra"/>
            <p:inputText id="codigoBarra" styleClass="valorFiltroBusca" value="#{produtoView.filtroCodigoBarras}"/>            

            <p:outputLabel styleClass="labelFiltroBusca" value="Abaixo do estoque mínimo:" for="estoqueMinimo"/>
            <p:selectBooleanCheckbox id="estoqueMinimo" styleClass="valorFiltroBusca" value="#{produtoView.filtroEstoqueAbaixoDoMinimo}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Ativo:" for="ativo"/>
            <p:selectBooleanCheckbox id="ativo" styleClass="valorFiltroBusca" value="#{produtoView.filtroAtivo}"/>

            <p:commandButton value="Buscar" styleClass="botaoBuscarBarraLateral" action="#{produtoView.buscar()}"/>
            <p:commandLink value="Nova busca" styleClass="linkNovaBuscaBarraLateral" action="#{produtoView.novaBusca()}"/>
        </h:form>
    </h:body>
</html>
