<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="saidaLateralBar">
                    <ui:include src="saidaLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de saidas" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{saidaView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{saidaView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{saidaView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{saidaView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">

                        <p:outputLabel id="clienteLabel" styleClass="labelFormularioCadastro" value="Cliente:" for="cliente"/>
                        <h:panelGrid columns="2">
                            <p:inputText id="cliente" disabled="true" required="true" value="#{saidaView.saida.cliente.nomeSobrenomeConcatenado}"/>
                            <p:commandButton value="..." onclick="PF('dialogClientes').show();" />
                        </h:panelGrid>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data cadastro:" for="dataCadastro"/>
                        <p:calendar styleClass="pequeno" id="dataCadastro" disabled="true" value="#{saidaView.saida.dataCadastro}"  pattern="dd/MM/yyyy" mask="true" />

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data conclusão:" for="dataConclusao"/>
                        <p:calendar styleClass="pequeno" id="dataConclusao" required="#{saidaView.saidaFinalizada()}" disabled="#{!saidaView.saidaFinalizada()}" value="#{saidaView.saida.dataConclusao}"  pattern="dd/MM/yyyy" mask="true" />                
                       
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Almoxarifado:" for="almoxarifado"/>
                        <p:selectOneMenu id="almoxarifado" converter="#{genericEntityConverter}" value="#{saidaView.saida.almoxarifado}" required="true" style="width:180px" >
                            <f:selectItems value="#{saidaView.almoxarifados}"
                                           var="almoxarifado"
                                           itemLabel="#{almoxarifado.nome}"
                                           itemValue="#{almoxarifado}"/>
                        </p:selectOneMenu>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Status:" for="status"/>
                        <p:selectOneMenu id="status" value="#{saidaView.saida.status}" disabled="#{saidaView.saidaFinalizadaESalva()}" style="width:100px" >
                            <f:selectItems value="#{saidaView.statusTrancacao}"
                                           var="status"
                                           itemLabel="#{status.descricao}"
                                           itemValue="#{status}"/>
                            <p:ajax update="dataConclusao" />
                        </p:selectOneMenu>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{saidaView.saida.new}" value="#{saidaView.saida.ativo}"/>

                        <p:outputLabel id="observacaoLabel" styleClass="labelFormularioCadastro" value="Observação:" for="observacao"/>
                        <p:inputTextarea id="observacao" value="#{saidaView.saida.observacao}" styleClass="inputGrandeFormularioCadastro" />

                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="Produtos desta saida:" styleClass="contentSubTitle" for="saidaProduto"/>
                    <p:dataTable var="saidaProduto"
                                 id="saidaProduto"
                                 editMode="cell"
                                 editable="#{!saidaView.saidaFinalizadaESalva()}"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{saidaView.saidaProdutoSelected}"
                                 value="#{saidaView.saida.saidaProduto}"
                                 rowKey="#{saidaProduto}">
                        <p:column selectionMode="multiple" width="16" style="text-align:center"/>
                        <p:column width="80"> 
                            <f:facet name="header">
                                <h:outputText value="Quantidade" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <p:cellEditor>
                                <f:facet name="output"><p:outputLabel value="#{saidaProduto.quantidade}" style="float: right;" /></f:facet>
                                <f:facet name="input"><p:spinner value="#{saidaProduto.quantidade}" label="Quantidade" ><p:ajax/></p:spinner></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.grupo.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Codigo de barras" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saidaProduto.produto.codigoBarras}" />
                        </p:column>
                    </p:dataTable>
                    <br />
                    <p:commandButton value="Adicionar produtos" disabled="#{saidaView.saidaFinalizadaESalva()}" update=":formDialogProdutos" actionListener="#{saidaView.atualizaListas()}" oncomplete="PF('dialogProdutos').show();" />
                    <p:commandButton value="Remover selecionados" disabled="#{saidaView.saidaFinalizadaESalva()}" update="saidaProduto" actionListener="#{saidaView.removerProdutosSelecionados()}" />
                </h:form>

                <h:form id="formDialogProdutos">
                    <p:dialog id="dialogProdutos" header="Produtos" widgetVar="dialogProdutos" minHeight="40" width="800">
                        <p:dataTable var="produto"
                                     emptyMessage="Nenhum registro encontrado."
                                     selection="#{saidaView.produtosSelected}"
                                     value="#{saidaView.produtos}"
                                     rowKey="#{produto}">
                            <f:facet name="header">
                                Checkbox
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.nome}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.grupo.descricao}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Código de barras" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.codigoBarras}" />
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Adicionar selecionados" update="@form :formularioCadastro:saidaProduto" actionListener="#{saidaView.adicionarProdutosSelecionados()}" />
                    </p:dialog>
                </h:form>
                <h:form id="formDialogClientes">
                    <p:dialog id="dialogClientes" header="Clientes" widgetVar="dialogClientes" minHeight="40" width="800" >
                        <p:dataTable var="cliente"
                                     selectionMode="single"
                                     emptyMessage="Nenhum registro encontrado."
                                     selection="#{saidaView.saida.cliente}"
                                     value="#{saidaView.clientes}"
                                     rowKey="#{cliente}">
                            <p:ajax event="rowSelect"
                                    update=":formDialogClientes:botaoDialogOk" />
                            <p:ajax event="rowUnselect"
                                    update=":formDialogClientes:botaoDialogOk" />
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Nome/Razão social" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{cliente.nome}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Sobrenome" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{cliente.sobrenome}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="CPF/CNPJ" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{(cliente.cpf != null) ? cliente.cpf : cliente.cnpj}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="E-mail" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{cliente.email}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Telefone" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{cliente.fone}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{cliente.ativo ? 'Sim' : 'Não'}" />
                            </p:column>
                        </p:dataTable>
                        <br/>
                        <p:commandButton id="botaoDialogOk"
                                         style="float: right;"
                                         process="@form"
                                         update="@form :formularioCadastro"
                                         value="Ok"/>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
