<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="saidaLateralBar">
                    <ui:include src="saidaLateralBar.xhtml"/> 
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Saidas" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{saidaView.novo()}" />
                    <p:commandButton id="botaoEditar" disabled="#{saidaView.saida.new}" value="Editar" ajax="false" action="#{saidaView.editar()}"/>
                    <p:dataTable var="saida"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{saidaView.saida}"
                                 value="#{saidaView.saidas}"
                                 rowKey="#{saida}">
                        <p:ajax event="rowSelect"
                                update=":formListar:botaoEditar" />
                        <p:ajax event="rowUnselect"
                                update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome/Razão social" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saida.cliente.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Sobrenome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saida.cliente.sobrenome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Data cadastro" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saida.dataCadastro}" >                                                                                    
                                <f:converter converterId="dateConverter" /> 
                            </h:outputText>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Status" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saida.status.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Data conclusão" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{saida.dataConclusao}" >                                                       
                                <f:converter converterId="dateConverter" /> 
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
