<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form styleClass="barraLateral" style="width: 192px; float: left;">
            <p:menu style="width: 192px;">
                <p:submenu label="Busca">
                </p:submenu>
            </p:menu>
            <p:outputLabel styleClass="labelFiltroBusca" value="Cliente:" for="razaoSocial"/>
            <p:inputText id="razaoSocial" styleClass="valorFiltroBusca" value="#{saidaView.filtroNomeCliente}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Produto:" for="produto"/>
            <p:inputText id="produto" styleClass="valorFiltroBusca" value="#{saidaView.filtroProdutoNome}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Código de barras:" for="codigoBarras"/>
            <p:inputText id="codigoBarras" styleClass="valorFiltroBusca" value="#{saidaView.filtroCodigoBarras}"/>

            <h:panelGrid columns="1" style="width: 182px;">
                <p:outputLabel styleClass="labelFiltroBusca" value="Grupo:" for="grupo" />
                <p:selectManyCheckbox id="grupo" value="#{saidaView.filtroStatusTransacao}" layout="grid" columns="1">
                    <f:selectItems value="#{saidaView.statusTrancacao}" var="status" itemLabel="#{status.descricao}" itemValue="#{status}"/>
                </p:selectManyCheckbox>
            </h:panelGrid>

            <p:commandButton value="Buscar" styleClass="botaoBuscarBarraLateral" action="#{saidaView.buscar()}"/>
            <p:commandLink value="Nova busca" styleClass="linkNovaBuscaBarraLateral" action="#{saidaView.novaBusca()}"/>
        </h:form>
    </h:body>
</html>
