<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>      
        <div class="footer" ><p:outputLabel value="Hadouken" style="color: white;font-size: 12px !important;margin-left: 10.2%;"/></div>
    </ui:composition>
</html>