<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hadouken</title>
        <h:outputStylesheet name="css/hadouken-primefaces.css" />
        <h:outputStylesheet name="css/hadouken.css" />
    </h:head>
    <h:body styleClass="base">
        <div id="page">

            <div id="header">
                <ui:insert name="header" >
                    <ui:include src="commonHeader.xhtml" />
                </ui:insert>
            </div>

            <div id="content" style="margin-top: 10px;">
                <ui:insert name="content" />
            </div>
            
            <div id="footer" >
                <ui:insert name="footer" >
                    <ui:include src="commonFooter.xhtml" />                    
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>
