<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>        
        <div class="topo">
            <div class="logoTopo"/>
            <h:form>
                <p:commandButton id="usuarioLogado"
                                 style="width: 192px;"
                                 styleClass="usuarioLogadoTopo"
                                 value="#{sessionController.usuarioLogado.nome.concat(' ').concat(sessionController.usuarioLogado.sobrenome)}"
                                 type="button"/>
                <p:menu overlay="true"
                        trigger="usuarioLogado"
                        style="width: 190px;"
                        my="left top"
                        at="left bottom">
                    <p:menuitem value="Alterar senha" action="/faces/webpage/login/redefinirSenha.xhtml?faces-redirect=true"/>
                    <p:menuitem value="Sair" action="#{sessionController.doLogout()}"/>
                </p:menu>
            </h:form>
        </div>
        <ui:insert name="menuTopo" >
            <ui:include src="menuTopo.xhtml" />
        </ui:insert>
    </ui:composition>
</html>