<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:form>
        <div id="topoMenu">                        
            <p:menubar styleClass="menuPrincipal">
                <p:menuitem value="Início" styleClass="menuPrincipalItem" outcome="/webpage/home.xhtml"/>
                <p:menuitem value="Clientes" styleClass="menuPrincipalItem" outcome="/webpage/cliente/listar.xhtml"/>
                <p:menuitem value="Fornecedores" styleClass="menuPrincipalItem" outcome="/webpage/fornecedor/listar.xhtml"/>
                <p:menuitem value="Produtos" styleClass="menuPrincipalItem" outcome="/webpage/produto/listar.xhtml"/>
                <p:menuitem value="Ajuste estoque" styleClass="menuPrincipalItem" outcome="/webpage/ajusteestoque/listar.xhtml"/>
                <p:menuitem value="Entradas" styleClass="menuPrincipalItem" outcome="/webpage/entrada/listar.xhtml"/>
                <p:menuitem value="Saidas" styleClass="menuPrincipalItem" outcome="/webpage/saida/listar.xhtml"/>
                <p:submenu label="Relatórios" styleClass="menuPrincipalItem" style="width: 76px;">
                    <p:menuitem value="Produtos estoque mínimo" outcome="/webpage/relatorio/produto/estoqueminimo/report.xhtml"/>
                    <p:menuitem value="Saída de produtos por origem" outcome="/webpage/relatorio/saida/saidaprodutopororigem/report.xhtml"/>
                    <p:menuitem value="Saída de produtos por produto" outcome="/webpage/relatorio/saida/saidaprodutoporproduto/report.xhtml"/>
                    <p:menuitem value="Entrada de produtos por produto" outcome="/webpage/relatorio/entrada/entradaprodutoporproduto/report.xhtml"/>
                </p:submenu>
                <p:submenu icon="ui-icon-gear">
                    <p:menuitem value="Cadastros" outcome="/webpage/configuracao/cadastro/cadastro.xhtml"/>
                </p:submenu>
            </p:menubar>
        </div>
    </h:form>

</html>