<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/commonLayout.xhtml">
            <ui:define name="header">
                <h:form styleClass="loginLogo">
                    <img src="../../resources/images/hadoukenlogo.png" style="width: 400px;"/>
                </h:form>
            </ui:define>
            <ui:define name="content">
                <h:form styleClass="loginForm">
                    <p:messages showDetail="true"/>
                    <h:panelGrid columns="2" cellpadding="5" >
                        <p:outputLabel for="username" value="Usuário: "/>
                        <p:inputText id="username" value="#{sessionController.username}"/>
                        <p:outputLabel for="password" value="Senha: "/>
                        <p:password id ="password" value="#{sessionController.password}"/>
                    </h:panelGrid>
                    <p:commandButton value="Login" style="right: 6px;" update="@form" action="#{sessionController.doLogin()}"/>
                </h:form>
            </ui:define>
            <ui:define name="footer">
            </ui:define>
        </ui:composition> 
    </h:body>
</html>