<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/commonLayout.xhtml">
            <ui:define name="header">
                <h:form styleClass="loginLogo">
                    <img src="../../resources/images/hadoukenlogo.png" style="width: 400px;"/>
                </h:form>
            </ui:define>
            <ui:define name="content">
                <h:form styleClass="loginForm">
                    <p:messages showDetail="true"/>
                    <h:panelGrid columns="2" cellpadding="5" >
                        <p:outputLabel for="senhaAtual" value="Senha atual:"/>
                        <p:password id="senhaAtual" required="true" value="#{redefinicaoSenhaView.senhaAtual}"/>
                        <p:outputLabel for="novaSenha" value="Nova senha:"/>
                        <p:password id ="novaSenha" required="true" value="#{redefinicaoSenhaView.novaSenha}"/>
                        <p:outputLabel for="novaSenhaConfirmacao" value="Confirmação:"/>
                        <p:password id ="novaSenhaConfirmacao" required="true" value="#{redefinicaoSenhaView.novaSenhaConfirmacao}"/>
                    </h:panelGrid>
                    <p:commandButton value="Redefinir" style="right: 6px;" update="@form" action="#{redefinicaoSenhaView.redefinirSenha()}"/>
                </h:form>
            </ui:define>
            <ui:define name="footer">
            </ui:define>
        </ui:composition> 
    </h:body>
</html>