<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="cadastroLateralBar">
                    <ui:include src="../cadastroLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de usuários" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{usuarioView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{usuarioView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{usuarioView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{usuarioView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Nome:" for="nome"/>
                        <p:inputText id="nome" required="true" value="#{usuarioView.usuario.nome}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Sobrenome:" for="sobrenome"/>
                        <p:inputText id="sobrenome" value="#{usuarioView.usuario.sobrenome}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Usuário:" for="usuario"/>
                        <p:inputText  id="usuario" required="true" value="#{usuarioView.usuario.username}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" rendered="#{usuarioView.usuario.new}" value="Senha:" for="password"/>
                        <p:password id="password" required="true" rendered="#{usuarioView.usuario.new}" value="#{usuarioView.usuario.password}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" rendered="#{usuarioView.usuario.new}" value="Confirmar senha:" for="passwordConfirmacacao"/>
                        <p:password id="passwordConfirmacacao" required="true" rendered="#{usuarioView.usuario.new}" value="#{usuarioView.passwordConfirmacao}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="E-mail:" for="email"/>
                        <p:inputText id="email" required="true" value="#{usuarioView.usuario.email}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{usuarioView.usuario.new}" value="#{usuarioView.usuario.ativo}"/>
                                                
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
