<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="cadastroLateralBar">
                    <ui:include src="../cadastroLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Usuários" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{usuarioView.novo()}" />
                    <p:commandButton id="botaoEditar" value="Editar" ajax="false" disabled="#{usuarioView.usuario.new}" action="#{usuarioView.editar()}"/>
                    <p:dataTable var="usuario"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{usuarioView.usuario}"
                                 value="#{usuarioView.usuarios}"
                                 rowKey="#{usuario}">
                            <p:ajax event="rowSelect"
                                    update=":formListar:botaoEditar" />
                            <p:ajax event="rowUnselect"
                                    update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Usuário" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{usuario.username}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{usuario.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Sobrenome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{usuario.sobrenome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="E-mail" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{usuario.email}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{usuario.ativo ? 'Sim' : 'Não'}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
