<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="../commonLayout.xhtml">
            <ui:define name="content">
                <p:layout style="min-width: 980px; max-width: 1520px; min-height: 530px; height: 100%;">
                    <div id="lateralBar">
                        <p:layoutUnit position="west" resizable="true" size="200" minSize="200" >
                            <ui:insert name="lateralBar" />
                        </p:layoutUnit>
                    </div>

                    <div id="lateralBarContent">
                        <p:layoutUnit position="center" >
                            <ui:insert name="contentLateralBar" />
                        </p:layoutUnit>
                    </div>
                </p:layout>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
