<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="entradaLateralBar">
                    <ui:include src="entradaLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro">
                    <h:outputLabel value="Inclusão e edição de entradas" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{entradaView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{entradaView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{entradaView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{entradaView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">

                        <p:outputLabel id="fornecedorLabel" styleClass="labelFormularioCadastro" value="Fornecedor:" for="fornecedor"/>
                        <h:panelGrid columns="2">
                            <p:inputText id="fornecedor" disabled="true" required="true" value="#{entradaView.entrada.fornecedor.razaoSocial}"/>
                            <p:commandButton value="..." onclick="PF('dialogFornecedores').show();" />
                        </h:panelGrid>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data cadastro:" for="dataCadastro"/>
                        <p:calendar styleClass="pequeno" id="dataCadastro" disabled="true" value="#{entradaView.entrada.dataCadastro}"  pattern="dd/MM/yyyy" mask="true" />

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Data conclusão:" for="dataConclusao"/>
                        <p:calendar styleClass="pequeno" id="dataConclusao" required="#{entradaView.entradaFinalizada()}" disabled="#{!entradaView.entradaFinalizada()}" value="#{entradaView.entrada.dataConclusao}"  pattern="dd/MM/yyyy" mask="true" />

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Almoxarifado:" for="almoxarifado"/>
                        <p:selectOneMenu id="almoxarifado" converter="#{genericEntityConverter}" value="#{entradaView.entrada.almoxarifado}" required="true" style="width:180px" >
                            <f:selectItems value="#{entradaView.almoxarifados}"
                                           var="almoxarifado"
                                           itemLabel="#{almoxarifado.nome}"
                                           itemValue="#{almoxarifado}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Status:" for="status"/>
                        <p:selectOneMenu id="status" value="#{entradaView.entrada.status}" disabled="#{entradaView.entradaFinalizadaESalva()}" style="width:100px" >
                            <f:selectItems value="#{entradaView.statusTrancacao}"
                                           var="status"
                                           itemLabel="#{status.descricao}"
                                           itemValue="#{status}"/>
                            <p:ajax update="dataConclusao" />
                        </p:selectOneMenu>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{entradaView.entrada.new}" value="#{entradaView.entrada.ativo}"/>

                        <p:outputLabel id="observacaoLabel" styleClass="labelFormularioCadastro" value="Observação:" for="observacao"/>
                        <p:inputTextarea id="observacao" value="#{entradaView.entrada.observacao}" styleClass="inputGrandeFormularioCadastro"/>

                    </h:panelGrid>
                    <br/>
                    <p:outputLabel value="Produtos desta entrada:" styleClass="contentSubTitle" for="entradaProduto"/>
                    <p:dataTable var="entradaProduto"
                                 id="entradaProduto"
                                 editMode="cell"
                                 editable="#{!entradaView.entradaFinalizadaESalva()}"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{entradaView.entradaProdutoSelected}"
                                 value="#{entradaView.entrada.entradaProduto}"
                                 rowKey="#{entradaProduto}">
                        <p:column selectionMode="multiple" width="16" style="text-align:center"/>
                        <p:column width="80"> 
                            <f:facet name="header">
                                <h:outputText value="Quantidade" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <p:cellEditor>
                                <f:facet name="output"><p:outputLabel value="#{entradaProduto.quantidade}" style="float: right;" /></f:facet>
                                <f:facet name="input"><p:spinner value="#{entradaProduto.quantidade}" label="Quantidade" ><p:ajax/></p:spinner></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entradaProduto.produto.nome}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entradaProduto.produto.grupo.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Codigo de barras" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entradaProduto.produto.codigoBarras}" />
                        </p:column>
                    </p:dataTable>
                    <br />
                    <p:commandButton value="Adicionar produtos" disabled="#{entradaView.entradaFinalizadaESalva()}" update=":formDialogProdutos" actionListener="#{entradaView.atualizaListas()}" oncomplete="PF('dialogProdutos').show();" />
                    <p:commandButton value="Remover selecionados" disabled="#{entradaView.entradaFinalizadaESalva()}" update="entradaProduto" actionListener="#{entradaView.removerProdutosSelecionados()}" />
                </h:form>

                <h:form id="formDialogProdutos">
                    <p:dialog id="dialogProdutos" header="Produtos" widgetVar="dialogProdutos" minHeight="40" width="800">
                        <p:dataTable var="produto"
                                     emptyMessage="Nenhum registro encontrado."
                                     selection="#{entradaView.produtosSelected}"
                                     value="#{entradaView.produtos}"
                                     rowKey="#{produto}">
                            <f:facet name="header">
                                Checkbox
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Nome" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.nome}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Grupo" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.grupo.descricao}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Código de barras" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{produto.codigoBarras}" />
                            </p:column>
                        </p:dataTable>
                        <p:commandButton value="Adicionar selecionados" update="@form :formularioCadastro:entradaProduto" actionListener="#{entradaView.adicionarProdutosSelecionados()}" />
                    </p:dialog>
                </h:form>
                <h:form id="formDialogFornecedores">
                    <p:dialog id="dialogFornecedores" header="Fornecedores" widgetVar="dialogFornecedores" minHeight="40" width="800" >
                        <p:dataTable var="fornecedor"
                                     selectionMode="single"
                                     emptyMessage="Nenhum registro encontrado."
                                     selection="#{entradaView.entrada.fornecedor}"
                                     value="#{entradaView.fornecedores}"
                                     rowKey="#{fornecedor}">
                            <p:ajax event="rowSelect"
                                    update=":formDialogFornecedores:botaoDialogOk" />
                            <p:ajax event="rowUnselect"
                                    update=":formDialogFornecedores:botaoDialogOk" />
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Razão social" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{fornecedor.razaoSocial}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="CNPJ" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{fornecedor.cnpj}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="E-mail" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{fornecedor.email}" />
                            </p:column>
                            <p:column> 
                                <f:facet name="header">
                                    <h:outputText value="Telefone" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{fornecedor.fone}" />
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                                </f:facet> 
                                <h:outputText value="#{fornecedor.ativo ? 'Sim' : 'Não'}" />
                            </p:column>
                        </p:dataTable>
                        <br/>
                        <p:commandButton id="botaoDialogOk"
                                         style="float: right;"
                                         process="@form"
                                         update="@form :formularioCadastro"
                                         value="Ok"/>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
