<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="entradaLateralBar">
                    <ui:include src="entradaLateralBar.xhtml"/> 
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Entradas" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{entradaView.novo()}" />
                    <p:commandButton id="botaoEditar" disabled="#{entradaView.entrada.new}" value="Editar" ajax="false" action="#{entradaView.editar()}"/>
                    <p:dataTable var="entrada"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{entradaView.entrada}"
                                 value="#{entradaView.entradas}"
                                 rowKey="#{entrada}">
                        <p:ajax event="rowSelect"
                                update=":formListar:botaoEditar" />
                        <p:ajax event="rowUnselect"
                                update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Fornecedor" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entrada.fornecedor.razaoSocial}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Data cadastro" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entrada.dataCadastro}" >                                                                                    
                                <f:converter converterId="dateConverter" /> 
                            </h:outputText>
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Status" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entrada.status.descricao}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Data conclusão" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{entrada.dataConclusao}" >                                                       
                                <f:converter converterId="dateConverter" /> 
                            </h:outputText>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
