<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <h:form styleClass="barraLateral" style="width: 192px; float: left;">
            <p:menu style="width: 192px;">
                <p:submenu label="Busca">
                </p:submenu>
            </p:menu>
            <p:outputLabel styleClass="labelFiltroBusca" value="Razão social:" for="razaoSocial"/>
            <p:inputText id="razaoSocial" styleClass="valorFiltroBusca" value="#{fornecedorView.filtroRazaoSocial}"/>
            
            <p:outputLabel styleClass="labelFiltroBusca" value="CNPJ:" for="cnpj"/>
            <p:inputText id="cnpj" styleClass="valorFiltroBusca" value="#{fornecedorView.filtroCnpj}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="E-mail:" for="email"/>
            <p:inputText id="email" styleClass="valorFiltroBusca" value="#{fornecedorView.filtroEmail}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Telefone:" for="fone"/>
            <p:inputText id="fone" styleClass="valorFiltroBusca" value="#{fornecedorView.filtroTelefone}"/>

            <p:outputLabel styleClass="labelFiltroBusca" value="Ativo:" for="ativo"/>
            <p:selectBooleanCheckbox id="ativo" styleClass="valorFiltroBusca" value="#{fornecedorView.filtroAtivo}"/>
            
            <p:commandButton value="Buscar" styleClass="botaoBuscarBarraLateral" action="#{fornecedorView.buscar()}"/>
            <p:commandLink value="Nova busca" styleClass="linkNovaBuscaBarraLateral" action="#{fornecedorView.novaBusca()}"/>
        </h:form>
    </h:body>
</html>
