<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="fornecedorLateralBar">
                    <ui:include src="fornecedorLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formularioCadastro" >
                    <h:outputLabel value="Inclusão e edição de fornecedores" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Voltar" immediate="true" action="#{fornecedorView.voltar()}"/>
                    <p:commandButton value="Novo" action="#{fornecedorView.novo()}"/>
                    <p:commandButton value="Salvar" update="@form" actionListener="#{fornecedorView.salvar()}"/>
                    <p:commandButton value="Cancelar alterações" update="@form" immediate="true" action="#{fornecedorView.cancelarAlteracoes()}"/>
                    <br/>
                    <p:messages showDetail="true"/>
                    <h:panelGrid id="formularioCadastroGrid"
                                 columns="2"
                                 styleClass="formularioCadastroGrid">

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Razão social:" for="razaoSocial"/>
                        <p:inputText id="razaoSocial" required="true" value="#{fornecedorView.fornecedor.razaoSocial}"/>

                        <p:outputLabel styleClass="labelFormularioCadastro" value="Cnpj:" for="cnpj"/>
                        <p:inputMask id="cnpj" value="#{fornecedorView.fornecedor.cnpj}" mask="99.999.999/9999-99"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="E-mail:" for="email"/>
                        <p:inputText id="email" value="#{fornecedorView.fornecedor.email}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Telefone:" for="fone"/>
                        <p:inputMask styleClass="inputFoneFormularioCadastro" id="fone" value="#{fornecedorView.fornecedor.fone}" mask="(99)9999-9999"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Estado:" for="estado"/>
                        <p:selectOneMenu id="estado" value="#{fornecedorView.fornecedor.estado}" style="width:64px" >
                            <f:selectItems value="#{fornecedorView.estados}"
                                           var="estado"
                                           itemLabel="#{estado.name()}"
                                           itemValue="#{estado}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Cidade:" for="cidade"/>
                        <p:inputText id="cidade" value="#{fornecedorView.fornecedor.cidade}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Bairro:" for="bairro"/>
                        <p:inputText id="bairro" value="#{fornecedorView.fornecedor.bairro}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Logradouro:" for="logradouro"/>
                        <p:inputText id="logradouro" styleClass="inputGrandeFormularioCadastro" value="#{fornecedorView.fornecedor.logradouro}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Número:" for="numero"/>
                        <p:inputText id="numero" value="#{fornecedorView.fornecedor.numero}"/>
                        
                        <p:outputLabel styleClass="labelFormularioCadastro" value="Ativo" for="ativo"/>
                        <p:selectBooleanCheckbox id="ativo" required="true" disabled="#{fornecedorView.fornecedor.new}" value="#{fornecedorView.fornecedor.ativo}"/>

                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
