<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/resources/template/common/lateralbar/lateralBarLayout.xhtml"> 
            <ui:define name="lateralBar">
                <ui:insert name="fornecedorLateralBar">
                    <ui:include src="fornecedorLateralBar.xhtml"/>
                </ui:insert>
            </ui:define>
            <ui:define name="contentLateralBar">
                <h:form id="formListar">
                    <h:outputLabel value="Fornecedores" styleClass="contentTitle" />
                    <br/>
                    <p:commandButton value="Novo" ajax="false" action="#{fornecedorView.novo()}" />
                    <p:commandButton id="botaoEditar" disabled="#{fornecedorView.fornecedor.new}" value="Editar" ajax="false" action="#{fornecedorView.editar()}"/>
                    <p:dataTable var="fornecedor"
                                 selectionMode="single"
                                 emptyMessage="Nenhum registro encontrado."
                                 selection="#{fornecedorView.fornecedor}"
                                 value="#{fornecedorView.fornecedores}"
                                 rowKey="#{fornecedor}">
                            <p:ajax event="rowSelect"
                                    update=":formListar:botaoEditar" />
                            <p:ajax event="rowUnselect"
                                    update=":formListar:botaoEditar" />
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Razão social" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{fornecedor.razaoSocial}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="CNPJ" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{fornecedor.cnpj}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="E-mail" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{fornecedor.email}" />
                        </p:column>
                        <p:column> 
                            <f:facet name="header">
                                <h:outputText value="Telefone" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{fornecedor.fone}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Ativo" styleClass="columnTitleDatatable"/>  
                            </f:facet> 
                            <h:outputText value="#{fornecedor.ativo ? 'Sim' : 'Não'}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition> 
    </h:body>
</html>
